* {
  background-color: #F2F2F2;
  color: #723A3A;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: auto;
}

nav a {
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  text-decoration: overline;
}

h1 {
  font-size: 42px;
}

h2 {
  margin: 30px;
}

h4 {
  margin: 10px;
}

section {
  padding-top: 40px;
  padding-bottom: 45px;
}

/* div containing input field */
div {
  text-align: center;
  height: 50px;
}

button, input[type=submit]{
  drop-shadow: none;
  border: none;
  background-color: #723A3A;
  color: #F2F2F2;
}

button:hover, input[type=submit]:hover {
  background-color: #F2F2F2;
  color: #723A3A;
}

input[type="text"]:focus {
  box-shadow: 0 0 0 3px black;
}

footer {
  margin-top: auto;
}

.invisible {
  display: none;
}

.content {
  max-width: 500px;
  margin: auto;
  color: #401b1a;
  text-align: center;
  padding: 25px;
  font-family: Georgia;
}

#hamburger-menu {
  background-color: inherit;
}

/* TODO: Set up hover effects for ham. menu  */

/* #hamburger-menu:hover {
  color: black;
  background-color: inherit;
} */
