* {
  color: #76002C;
  font-family: sans-serif;
}

body {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: auto;
}

img {
  width: 55vw;
  height: auto;
  margin-bottom: 15px;
}

form {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: auto;
}

nav a {
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  text-decoration: overline;
}

h1 {
  font-size: 42px;
}

h2 {
  margin: 30px;
}

h4 {
  margin: 10px;
}

h5 {
  margin-top: 5px;
  margin-right: 25px;
  margin-left: 5px;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: overline;
  opacity: 0.5;
}

section {
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* div containing input field */
div {
  text-align: center;
  height: 50px;
}

p {
  width: 60%;

}

input {
  margin: 10px;
  width: 150px;
  height: 20px;
  background-color: #F2F2F2;
}

input:focus {
  opacity: 0.75;
}

button, input[type=submit]{
  drop-shadow: none;
  border: none;
  color: #76002C;
  background-color: #F2F2F2;
  width: 75px;
  height: 26px;
}

button:hover, input[type=submit]:hover {
  opacity: 0.25;
}

footer {
  margin-top: auto;
  padding: 200px;
}

.invisible {
  display: none;
}

.main-content {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #8C3B4B;
}

.main-content-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 60%;
  width: 80%
}

.main-content-inner h4,
.main-content-inner h5,
.main-content-inner h2,
.main-content-inner p {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 75%;
  color: #F2F2F2;
}

.highlight-content {
  width: 90vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #8C3B4B;
}

.highlight-content-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  height: 60%;
  width: 80%
}

.highlight-content-inner p {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 75%;
  color: #F2F2F2;
}

.follow-link {
  margin-top: 30px;
}

.rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  cursor: progress;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#hamburger-menu {
  width: 50px;
  height: auto;
  background-color: inherit;
}

/* TODO: Set up hover effects for ham. menu  */

#hamburger-menu:hover {
  opacity: 0.25;
  drop-shadow: 2px #fff;
}

#load-cockroach {
  width: 35px;
  height: 35px;
}

#cockroach {
  width: 35px;
  height: 35px;
}
