* {
  background-color: #F2F2F2;
  color: #723A3A;
  font-family: sans-serif;
}

h1 {
  font-size: 42px;
}

h2 {
  margin: 55px;
}

section {
  padding-top: 40px;
  padding-bottom: 45px;
}

/* div containing input field */
div {
  text-align: center;
  height: 50px;
}

input[type="text"]:focus {
  box-shadow: 0 0 0 3px black;
}

input [type=submit]:focus {
  shadow: 2px;
  color: black;
}

.invisible {
  display: none;
}

.content {
  max-width: 500px;
  margin: auto;
  color: #401b1a;
  text-align: center;
  padding: 25px;
  font-family: Georgia;
}
