{% extends "base.html" %}

{% block content %}

<body>
  <h2>About the Burroughs-Generator</h2>
  <div class="main-content">

    <div class="main-content-inner">

      <p>
        Artificial neural networks are machine learning systems that learn much
        in the same way as humans or other mammals. Through training, they learn
        to achieve goals in different ways by making mistakes, calculating their
        error, and then attempting the problem again.
      </p>
      <a href="https://brain.js.org/#/">You can learn more about Brain.js here</a>
      <a href="https://en.wikipedia.org/wiki/Artificial_neural_network">Check out this wikipedia article for some more information on neural networks.</a>

    </div>
  </div>
</body>
{% endblock %}
