{% extends "base.html" %}
{% block content %}

<body>
  <h2>About the Burroughs-Generator</h2>
  <div class="main-content">

    <div class="main-content-inner">

      <p>
        Artificial neural networks are machine learning systems that learn much
        in the same way as humans or other mammals. Through training, they learn
        to achieve goals in different ways by making mistakes, calculating their
        error, and then attempting the problem again.
      </p>
      <p>
        Much like how all of us at one point in time figured out how to throw or kick a ball into
        a goal or to another person, the neural net takes a shot at a problem or goal, and uses what is called "backpropagation" to
        determine its misses. It then uses something called "forward propogation" to try again, having
        adjusted its approach to the problem, the same way you would decide how much energy to put into a second
        throw after missing the goal by a few feet the first time.
      </p>
      <p>
        While this neural net was trained on text input, our computers don't really understand this. They understand numbers.
        This means that the Burroughs-Generator isn't able to take grammatical or spelling feedback in the same way we can. Instead, it has to be trained
        on the textual input it's given, and it uses a series of mathematical functions to assign weights to these. Based on its performance,
        it is able to re-assign these weight values in order to learn from its mistakes.
        The libraries I used largely did the complex work of transforming text input to numerical values for me, but if you'd like to learn more about how this happens or what
        the model is really doing, follow the links below!
      </p>
      <p>
        You may have heard of AI, machine learning, or neural networks before. These computing systems are being deeply explored because of their
        massive potential to revolutionize nearly everything: medicine, service industries, tech, defense,
        education, and many more. Machines being able to learn like humans may seem scary, but as you may have realized with the Burroughs-Generator,
        computers still have a long way to go before they can truly do all of the general tasks humans can. Reading and pretending to speak like Burroughs would
        take a human maybe half an hour reading quotes or watching videos, but it took the V 2.0 network over 100,000 characters and hours of training
        to even begin to make sense.
      </p>
      <p>
        With that being said, neural nets are robust and flexible systems that can solve complex problems effectively once trained. They can make
        some tasks much easier, like deciding which combinations of chemicals are most likely to make an effective medicine, or predicting what
        you're going to type next (or, what you meant to type when you make a spelling mistake). This is why I'm
        fascinated by them, and looking to learn more about this technology throughout my career!
      </p>
      <a href="https://brain.js.org/#/">You can learn more about Brain.js here</a>
      <a href="https://en.wikipedia.org/wiki/Keras">You can learn more about Keras here</a>
      <a href="https://en.wikipedia.org/wiki/Artificial_neural_network">Check out this wikipedia article for some more information on neural networks.</a>
    </div>
  </div>
</body>
{% endblock %}
