{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='net.js') }}" defer></script>
{% endblock %}

{% block content %}

<body>
  <h1>Talk to William Burroughs</h1>


  <div class="main-content">
    <div class="main-content-inner">
      <h4>Version 1.0 powered by Brain.js</h4>
      <h5>
        Brain.js is an accelerated neural net built for JavaScript and Node.js.
        This means this one is running in the browser itself. Go to "Develop" and "Open JavaScript Console".
        Then, input some text and watch it train!
        Don't leave right away! - this net takes between 2 and 4 minutes to provide a response.
      </h5>
      <p>Go to the menu in the upper right to check out Version 2.0, and see the difference.</p>
      <h2>Say Something:</h2>

      <section>

        <p class="invisible" id="user-input">User Input</p>
        <h4 class="invisible" id="response">Response</h4>
        <img src="{{ url_for('static', filename='assets/icons8-cockroach-100.png') }}" alt="Cockroach outline loading icon" class="invisible" id="cockroach">
        <input type="text" name="question" id="question">
        <button id="submit-question">Send</button>
        <button class="invisible" id="say-more">Say More</button>

      </section>
    </div>
  </div>
</body>
{% endblock %}
