{% extends "base.html" %}

{% block content %}

<body>

  <h1>Talk to William Burroughs</h1>
  <div class="main-content">
    <div class="main-content-inner">
      <h4>Version 2.0 powered by Tensorflow & Keras</h4>
      <h5>
        Keras is a deep learning library built on Tensorflow, and this model was built
        specifically to generate text character by character.
      </h5>
      <p>Can you tell the difference?</p>

      <h2>Say Something:</h2>

      <section>

        {% if response %}
        <p>{{ user_input }}</p>
        <h4>{{ response }}</h4>
        <form class="" action="{{ url_for('main.kerasgenerator')}}" method="GET">
          <input type="submit" name="say-more" value="Say More">
        </form>
        {% else %}
        <form class="user-comment" action="{{ url_for('main.kerasgenerator') }}" method="POST">
          <input type="text" name="user-input">
          <input type="submit" value="Send">
        </form>
        {% endif %}
      </section>
    </div>
  </div>

</body>

{% endblock %}
