{% extends "base.html" %}

{% block content %}

<body>

  <h1>Talk to William Burroughs</h1>
  <div class="main-content">
    <div class="main-content-inner">
      <h4>Version 2.0 powered by Tensorflow & Keras</h4>
      <h5>
        Keras is a deep learning library built on Tensorflow, and this model was built
        specifically to generate text character by character.
        Don't leave just yet! This net takes between 45 seconds and 3 minutes to provide a response.
      </h5>
      <p>Can you tell the difference?</p>

      <h2>Say Something:</h2>

      <section>

        {% if response %}
        <p>{{ user_input }}</p>
        <h4 id="response">{{ response }}</h4>
        <p>
          Burroughs-Generator's English skills could still use some work, but we're getting there!
          With more computational power and data, there's the potential for
          much more coherent and adept responses, like your phone's voice assistant.
        </p>
        <form class="" action="{{ url_for('main.kerasgenerator')}}" method="GET">
          <input type="submit" name="say-more" value="Say More">
        </form>
        {% else %}
        <img src="{{ url_for('static', filename='assets/icons8-cockroach-100.png') }}" alt="Cockroach outline loading icon" class="invisible" id="cockroach">
        <form class="user-comment" action="{{ url_for('main.kerasgenerator') }}" method="POST">
          <input type="text" name="user-input">
          <input type="submit" value="Send" id="submit-btn">
        </form>
        {% endif %}
      </section>
    </div>
  </div>

</body>

{% endblock %}
