<html>

  <head>
    <script src="//unpkg.com/brain.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='net.js') }}" defer></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
  </head>

  <body class="bg_main">
    <title>Talk to William Burroughs</title>
    <h1 class="content">Talk to William Burroughs</h1>

  <section class="container">
    <div class="row container-fluid bg_main text-center">
       <figure class="col-sm-6">
          <h2 class="content">Ask a Question:</h2>
       </figure>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <figure class="col-sm-6">
        <form class="col-sm-6">
          <input type="text" name="question" id="question">
          <input type="submit" class="bg_mid">
        </form>
      </figure>
    </div>
   </section>

  </body>

</html>
